#header {
    background-color: rgb(59, 95, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(225, 240, 255);
    width: 100%;
}

#main-holder {
    width: 100%;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 95, 132);
    padding: 1.5rem;
}

.description {
    padding: 0 1.5rem 1.5rem;
}

#title {
    font-size: 3rem;
}

#score {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
}

@media (min-width: 1713px) {
    #main-holder {
        width: 1713px;
    }
}